RewriteEngine on
Rewriterule ^beranda/?                            \/repovideowapres/index.php
Rewriterule ^content2/?                            \/repovideowapres/tanpa_login.php
	
 Rewriterule ^content/?                            \/repovideowapres/isi.php
 Rewriterule ^proses/?                            \/repovideowapres/aksi.php

 #Rewriterule ^api/?                            \/repovideowapres/api.php


 Rewriterule ^login/?                            \/repovideowapres/core/login_proses.php
 Rewriterule ^quit/?                            \/repovideowapres/logout.php